<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WCFWebClient"
         connectionString="Server=PC-1477\SQLEXPRESS;Database=WCFWebClient;User Id=sa;Password=fpw;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2081228" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="LGBasicHttp_ServicoDeAdmissaoPreliminar">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeAfastamento">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeAgenciaBancaria">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeAgenteDeIntegracao">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeAvaliacaoDeTreinamento">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeAvisoPrevio">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeBanco">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCalendario">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCandidato">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCargo">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCargoRH">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCBO">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCentroDeCusto">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeConfiguracaoFpw">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeConfiguracoesCargosESalarios">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeCurso">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeDadosCadastrais">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeDadosCadastraisTG">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeDependente">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeEmpresa">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeEventosDoFuncionario">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeFerias">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeGrupoHierarquico">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeHorario">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeInstituicaoDeEnsino">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeItemAtributoAdicionalTipoTabela">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeLotacao">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeMovimentacao">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeMovimentacaoTabGen">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeMunicipio">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeOcorrenciaDeRecesso">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeOcorrenciaPortadorDeNecessidadeEspecial">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDePaisFpw">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeParametrizacaoValeTransporteFuncionario">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDePosicao">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeReintegracao">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeSindicato">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeSituacao">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeTabelaAuxiliar">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeTabelaSalarial">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeTipoDeLogradouro">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeTransferenciaEntreEmpresas">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeTransferenciaEntreEmpresasTabGen">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeTurmas">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeValorDeAtributoAdicional">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoFaixaDeEncargos">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LGBasicHttp_ServicoDeFuncionario">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeafastamento"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeAfastamento"
          contract="ServicoDeAfastamento_20171.ServicoDeAfastamento"
          name="LGBasicHttp_ServicoDeAfastamento" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeadmissaopreliminar"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeAdmissaoPreliminar"
          contract="ServicoDeAdmissaoPreliminar_20171.ServicoDeAdmissaoPreliminar"
          name="LGBasicHttp_ServicoDeAdmissaoPreliminar" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeagenciabancaria"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeAgenciaBancaria"
          contract="ServicoDeAgenciaBancaria_20171.ServicoDeAgenciaBancaria"
          name="LGBasicHttp_ServicoDeAgenciaBancaria" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeagentedeintegracao"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeAgenteDeIntegracao"
          contract="ServicoDeAgenteDeIntegracao_20171.ServicoDeAgenteDeIntegracao"
          name="LGBasicHttp_ServicoDeAgenteDeIntegracao" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeavaliacaodetreinamento"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeAvaliacaoDeTreinamento"
          contract="ServicoDeAvaliacaoDeTreinamento_20171.ServicoDeAvaliacaoDeTreinamento"
          name="LGBasicHttp_ServicoDeAvaliacaoDeTreinamento" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeavisoprevio"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeAvisoPrevio"
          contract="ServicoDeAvisoPrevio_20171.ServicoDeAvisoPrevio"
          name="LGBasicHttp_ServicoDeAvisoPrevio" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodebanco"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeBanco"
          contract="ServicoDeBanco_20171.ServicoDeBanco" name="LGBasicHttp_ServicoDeBanco" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecalendario"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCalendario"
          contract="ServicoDeCalendario_20171.ServicoDeCalendario" name="LGBasicHttp_ServicoDeCalendario" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecandidato"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCandidato"
          contract="ServicoDeCandidato_20171.ServicoDeCandidato" name="LGBasicHttp_ServicoDeCandidato" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecargo"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCargo"
          contract="ServicoDeCargo_20171.ServicoDeCargo" name="LGBasicHttp_ServicoDeCargo" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecargorh"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCargoRH"
          contract="ServicoDeCargoRH_20171.ServicoDeCargoRH" name="LGBasicHttp_ServicoDeCargoRH" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecbo"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCBO"
          contract="ServicoDeCBO_20171.ServicoDeCBO" name="LGBasicHttp_ServicoDeCBO" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecentrodecusto"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCentroDeCusto"
          contract="ServicoDeCentroDeCusto_20171.ServicoDeCentroDeCusto"
          name="LGBasicHttp_ServicoDeCentroDeCusto" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeconfiguracaofpw"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeConfiguracaoFpw"
          contract="ServicoDeConfiguracaoFpw_20171.ServicoDeConfiguracaoFpw"
          name="LGBasicHttp_ServicoDeConfiguracaoFpw" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeconfiguracoescargosesalarios"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeConfiguracoesCargosESalarios"
          contract="ServicoDeConfiguracoesCargosESalarios_20171.ServicoDeConfiguracoesCargosESalarios"
          name="LGBasicHttp_ServicoDeConfiguracoesCargosESalarios" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodecurso"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeCurso"
          contract="ServicoDeCurso_20171.ServicoDeCurso" name="LGBasicHttp_ServicoDeCurso" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodedadoscadastrais"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeDadosCadastrais"
          contract="ServicoDeDadosCadastrais_20171.ServicoDeDadosCadastrais"
          name="LGBasicHttp_ServicoDeDadosCadastrais" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodedadoscadastraistg"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeDadosCadastraisTG"
          contract="ServicoDeDadosCadastraisTG_20171.ServicoDeDadosCadastraisTG"
          name="LGBasicHttp_ServicoDeDadosCadastraisTG" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodedependente"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeDependente"
          contract="ServicoDeDependente_20171.ServicoDeDependente" name="LGBasicHttp_ServicoDeDependente" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeempresa"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeEmpresa"
          contract="ServicoDeEmpresa_20171.ServicoDeEmpresa" name="LGBasicHttp_ServicoDeEmpresa" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeeventosdofuncionario"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeEventosDoFuncionario"
          contract="ServicoDeEventosDoFuncionario_20171.ServicoDeEventosDoFuncionario"
          name="LGBasicHttp_ServicoDeEventosDoFuncionario" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeferias"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeFerias"
          contract="ServicoDeFerias_20171.ServicoDeFerias" name="LGBasicHttp_ServicoDeFerias" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodegrupohierarquico"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeGrupoHierarquico"
          contract="ServicoDeGrupoHierarquico_20171.ServicoDeGrupoHierarquico"
          name="LGBasicHttp_ServicoDeGrupoHierarquico" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodehorario"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeHorario"
          contract="ServicoDeHorario_20171.ServicoDeHorario" name="LGBasicHttp_ServicoDeHorario" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeinstituicaodeensino"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeInstituicaoDeEnsino"
          contract="ServicoDeInstituicaoDeEnsino_20171.ServicoDeInstituicaoDeEnsino"
          name="LGBasicHttp_ServicoDeInstituicaoDeEnsino" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeitematributoadicionaltipotabela"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeItemAtributoAdicionalTipoTabela"
          contract="ServicoDeItemAtributoAdicionalTipoTabela_20171.ServicoDeItemAtributoAdicionalTipoTabela"
          name="LGBasicHttp_ServicoDeItemAtributoAdicionalTipoTabela" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodelotacao"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeLotacao"
          contract="ServicoDeLotacao_20171.ServicoDeLotacao" name="LGBasicHttp_ServicoDeLotacao" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodemovimentacao"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeMovimentacao"
          contract="ServicoDeMovimentacao_20171.ServicoDeMovimentacao"
          name="LGBasicHttp_ServicoDeMovimentacao" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodemovimentacaotabgen"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeMovimentacaoTabGen"
          contract="ServicoDeMovimentacaoTabGen_20171.ServicoDeMovimentacaoTabGen"
          name="LGBasicHttp_ServicoDeMovimentacaoTabGen" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodemunicipio"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeMunicipio"
          contract="ServicoDeMunicipio_20171.ServicoDeMunicipio" name="LGBasicHttp_ServicoDeMunicipio" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeocorrenciaderecesso"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeOcorrenciaDeRecesso"
          contract="ServicoDeOcorrenciaDeRecesso_20171.ServicoDeOcorrenciaDeRecesso"
          name="LGBasicHttp_ServicoDeOcorrenciaDeRecesso" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeocorrenciaportadordenecessidadeespecial"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeOcorrenciaPortadorDeNecessidadeEspecial"
          contract="ServicoDeOcorrenciaPortadorDeNecessidadeEspecial_20171.ServicoDeOcorrenciaPortadorDeNecessidadeEspecial"
          name="LGBasicHttp_ServicoDeOcorrenciaPortadorDeNecessidadeEspecial" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodepaisfpw"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDePaisFpw"
          contract="ServicoDePaisFpw_20171.ServicoDePaisFpw" name="LGBasicHttp_ServicoDePaisFpw" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeparametrizacaovaletransportefuncionario"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeParametrizacaoValeTransporteFuncionario"
          contract="ServicoDeParametrizacaoValeTransporteFuncionario_20171.ServicoDeParametrizacaoValeTransporteFuncionario"
          name="LGBasicHttp_ServicoDeParametrizacaoValeTransporteFuncionario" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeposicao"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDePosicao"
          contract="ServicoDePosicao_20171.ServicoDePosicao" name="LGBasicHttp_ServicoDePosicao" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodereintegracao"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeReintegracao"
          contract="ServicoDeReintegracao_20171.ServicoDeReintegracao"
          name="LGBasicHttp_ServicoDeReintegracao" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodesindicato"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeSindicato"
          contract="ServicoDeSindicato_20171.ServicoDeSindicato" name="LGBasicHttp_ServicoDeSindicato" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodesituacao"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeSituacao"
          contract="ServicoDeSituacao_20171.ServicoDeSituacao" name="LGBasicHttp_ServicoDeSituacao" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodetabelaauxiliar"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeTabelaAuxiliar"
          contract="ServicoDeTabelaAuxiliar_20171.ServicoDeTabelaAuxiliar"
          name="LGBasicHttp_ServicoDeTabelaAuxiliar" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodetabelasalarial"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeTabelaSalarial"
          contract="ServicoDeTabelaSalarial_20171.ServicoDeTabelaSalarial"
          name="LGBasicHttp_ServicoDeTabelaSalarial" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodetipodelogradouro"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeTipoDeLogradouro"
          contract="ServicoDeTipoDeLogradouro_20171.ServicoDeTipoDeLogradouro"
          name="LGBasicHttp_ServicoDeTipoDeLogradouro" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodetransferenciaentreempresas"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeTransferenciaEntreEmpresas"
          contract="ServicoDeTransferenciaEntreEmpresas_20171.ServicoDeTransferenciaEntreEmpresas"
          name="LGBasicHttp_ServicoDeTransferenciaEntreEmpresas" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodetransferenciaentreempresastabgen"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeTransferenciaEntreEmpresasTabGen"
          contract="ServicoDeTransferenciaEntreEmpresasTabGen_20171.ServicoDeTransferenciaEntreEmpresasTabGen"
          name="LGBasicHttp_ServicoDeTransferenciaEntreEmpresasTabGen" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodeturmas"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeTurmas"
          contract="ServicoDeTurmas_20171.ServicoDeTurmas" name="LGBasicHttp_ServicoDeTurmas" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodevalordeatributoadicional"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeValorDeAtributoAdicional"
          contract="ServicoDeValorDeAtributoAdicional_20171.ServicoDeValorDeAtributoAdicional"
          name="LGBasicHttp_ServicoDeValorDeAtributoAdicional" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicofaixadeencargos"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoFaixaDeEncargos"
          contract="ServicoFaixaDeEncargos_20171.ServicoFaixaDeEncargos"
          name="LGBasicHttp_ServicoFaixaDeEncargos" />
      <endpoint address="http://pc-1477:1008/lg.com.br/svc/servicodefuncionario"
          binding="customBinding" bindingConfiguration="LGBasicHttp_ServicoDeFuncionario"
          contract="ServicoDeFuncionario_20171.ServicoDeFuncionario"
          name="LGBasicHttp_ServicoDeFuncionario" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>